<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.page.title || "Portfolio" %> | Daniel Westendorf</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "high-dpi", media: "only screen and (-webkit-min-device-pixel-ratio: 2)" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div id="wrapper" class="span12">
          <div id="sidebar" class="span3">
            <a id="logo" href="/">
              <div>
                PORTFOLIO
              </div>
            </a>
            <p>daniel westendorf</p>
            <p id="blurb">
              Sysadmin, developer, and hacker. Fixing challenging problems with simple solutions.
            </p>
            <p id="social-icons"><a href="http://www.facebook.com/dwestendorf"><i class="icon-facebook-sign"></i></a><a href="http://www.twitter.com/dwestendorf"><i class="icon-twitter-sign"></i></a><a href="http://github.com/danielwestendorf"><i class="icon-github-sign"></i></a><a href="http://www.linkedin.com/dwestendorf"><i class="icon-linkedin-sign"></i></a></p>
            <p id="tags">
              <% current_article.tags.each do |tag, details| %>
                <%= link_to tag, tag_path(tag) %>
              <% end %>
            </p>
          </div>
          <div id="content" class="span9">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>